body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg');
    background-size: cover;
}

.game-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #21d82d;
    color: white;
    border: none;
    border-radius: 5px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#target {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    color: white;
}
